.vs
Build
Binaries
Config
Content/*
!Content/Main
!Content/Levels
!Content/EasyBuildingSystem
!Content/PostProcess
DerivedDataCache
Intermediate
Platforms
Saved
.vsconfig
BigJam01.sln
BigJam01.uproject