.vs
Build
Binaries
Config
Content/*
!Content/Main
Content/Main/Characters/MainCharacter/Mesh
Content/Main/Characters/HornetEnemy/Mesh
Content/Main/Mesh
Content/Main/Sounds
DerivedDataCache
Intermediate
Platforms
Saved
.vsconfig
BigJam01.sln
BigJam01.uproject